@font-face {
    font-family: pokemonFont;
    src: url(../fonts/PokemonHollow.ttf);

    font-family: doctorsoos;
    src: url(../fonts/DoctorSoos.ttf)
}

body {
    background-image: url(../img/BNPieoo.jpg);
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
}

h1 {
    font-family: doctorsoos, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    height: 60px;
}

.main-navbar {
    display: inline-block;
    width: 100%;
    height: 50px;
}

.main-navbarlist {
    list-style-type: none;
    display: inline-block;
    margin-top: 0;
    margin-left: 200px;
    padding: 0;
    overflow: hidden;
    background: #4a4949;
    color: white;
    height: 50px;
    border-radius: 25px;
    width: 50%;
    float: left;
    text-align: center;
}

.main-navbarlist li {
    float: inherit;
    border-right: 2px solid #dedddd;
    height: 50px;
    text-align: center;
    width: auto;
    padding: 15px;
}

.main-navbarlist li:last-child {
    border-right: none;
}

.main-navbarlist li:hover {
    background: #222222;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.main-navbarlist li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-navbarlist .searchbar {
    float: right;
    border-left: 2px solid #dedddd;
}

.main-navbarlist .search[type=text] {
    float: right;
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.63);
    background-image: url(../img/search-icon1.png);
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-color: 3px solid white;
    border-radius: 20px;
    transition: width 0.5s ease-in-out;
}

.main-navbarlist .search[type=text]:focus {
    width: 55%;
    background-color: white;
    border-color: 3px solid rgba(255, 255, 255, 0.63);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-navbar {
    list-style-type: none;
    display: inline-block;
    margin-top: 0;
    margin-right: 200px;
    padding: 0px;
    overflow: hidden;
    background: #4a4949;
    color: white;
    height: 50px;
    border-radius: 25px;
    width: auto;
    text-align: center;
    float: right;
    text-align: center;
}

.login-navbar li {
    float: inherit;
    border-left: 2px solid #dedddd;
    height: 50px;
    text-align: center;
    width: auto;
    padding: 15px;
}

.login-navbar li:last-child {
    border-left: none;
}

.login-navbar li:hover {
    background: #222222;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.login-navbar li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.userIcon{
    list-style-type: none;
    display: inline-block;
    margin-top: 0;
    margin-right: 200px;
    padding: 0px;
    overflow: hidden;
    background: #4a4949;
    color: white;
    height: 50px;
    border-radius: 25px;
    width: auto;
    text-align: center;
    float: right;
    text-align: center;
}

.userIcon li{
    float: inherit;
    border-left: 2px solid #dedddd;
    height: 50px;
    text-align: center;
    width: auto;
    padding: 15px;
}

.userIcon li:last-child{
    border-left: none;
    width: 110px;
    text-align: right;
    background-image: url(../img/player.png);
    background-position: 20px 10px;
    background-repeat: no-repeat;
}

.userIcon li:hover{
    background: #222222;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    
}

.userIcon li:last-child:hover{
    background: #222222;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    width: 110px;
    text-align: right;
    background-image: url(../img/player.png);
    background-position: 20px 10px;
    background-repeat: no-repeat;
    
}

.userIcon li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*.usrimg{
    margin-left: 25px;
    margin-bottom: -10px;
}*/

.main-container {
    position: fixed;
    display: inline-block;
    top: 150px;
    left: 200px;
    right: 200px;
    bottom: 50px;
    background-color: rgba(208, 208, 208, 0.9);
    border-radius: 20px;
}

p {
    color: #ff0000;
    margin-top: 10px;
    font-size: 80px;
    text-align: center;
    font-family: "Courier";
    font-style: italic;
}

.logincontainer {
    position: fixed;
    display: inline-block;
    top: 200px;
    bottom: 200px;
    right: 600px;
    left: 600px;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 20px;
}

.logtextbox {
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 5%;
}

.logtextbox[type=text] {
    border: 2px solid #75bfff;
    border-radius: 10px;
}

.logtextbox[type=password] {
    border: 2px solid #75bfff;
    border-radius: 10px;
}

.logtextbox[type=text]:focus {
    border: 2px solid #171fff;
    height: 7%;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logtextbox[type=password]:focus {
    border: 2px solid #171fff;
    height: 7%;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logbtn {
    border: 2px solid #75bfff;
    border-radius: 20px;
    height: 10%;
    opacity: 0.8;
    font-family: doctorsoos, sans-serif;
    font-size: 40px;
}

.logbtn:hover {
    opacity: 1;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.signtextbox {
    margin-top: 9%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 5%;
}

.signtextbox[type=text] {
    border: 2px solid #75bfff;
    border-radius: 10px;
}

.signtextbox[type=password] {
    border: 2px solid #75bfff;
    border-radius: 10px;
}

.signtextbox[type=text]:focus {
    border: 2px solid #171fff;
    height: 7%;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.signtextbox[type=password]:focus {
    border: 2px solid #171fff;
    height: 7%;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.signbtn {
    margin-top: 10%;
    border: 2px solid #75bfff;
    border-radius: 20px;
    height: 10%;
    opacity: 0.8;
    font-family: doctorsoos, sans-serif;
    font-size: 40px;
}

.signbtn:hover {
    opacity: 1;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mainlist {
    position: absolute;
    width: auto;
    left: 50px;
    top: 50px;
    bottom: 50px;
    right: 50px;
    overflow: auto;
}

.mainlist::-webkit-scrollbar { 
    display: none; 
}

.list {
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #6f6f6f;
    color: white;
}

.list thead {
    background: #75bfff;
    border-bottom: 2px solid #dedddd;
}

.list th[scope=col] {
    border-right: 1px solid #dedddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.list th[scope=col]:last-child {
    border-right: none;
}

.list tr {
    border-bottom: 2px solid #dedddd;
}

.list tr:nth-child(even) {
    background: #4a4949;
}

.list tbody tr:last-child {
    border-bottom: none;
    border-radius: 20px;
}

.list tbody tr:hover {
    background: #222222;
    border-radius: 20px;
}

.list td {
    padding: 8px;
    border-left: 1px solid #dedddd;
    text-align: center;
    vertical-align: middle;
}

.catalog {
    position: absolute;
    width: auto;
    left: 50px;
    top: 50px;
    bottom: 120px;
    right: 50px;
    overflow: auto;
}

.catalog::-webkit-scrollbar { 
    display: none; 
}

.pagcontainer{
    position: absolute;
    top 50px;
    bottom: 50px;
    left: 30%;
    right: 25%;
}

.pagbtn{
    background-color: #ffffff;
    opacity: 0.8;
    border: 2px solid #676767;
    border-radius: 10px;
    height: 35px;
    width: 45px;
    text-align: center;
    padding-left: 4px;
    margin-left: 3px;
    margin-right: 3px;
}

.pagbtn:hover{
    opacity: 1;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pagbtn a{
    padding-left: 4px;
    padding-top: 2px;   
    text-decoration: none;
    border: none;
}

.pagbtn a:link{
    color: black;
}

.pagbtn a:visited{
    color: black;
}

.pagbtn.active{
    background-color: #00ff62;
    opacity: 0.8;
    border: 2px solid #676767;
    border-radius: 10px;
    height: 35px;
    text-align: center;
    padding-left: 4px;
}

.pagbtn.active:hover{
    opacity: 1;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pagbtn.active a{
    text-decoration: none;
    border: none;
}

.pagbtn.backward{
    background-image: url(../img/backward.png);
    background-position: 10px -10px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 175px;
    height: 35px;
    padding: 3px 3px 3px 50px;
}

.pagbtn.forward{
    background-image: url(../img/forward.png);
    background-position: 110px -10px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 175px;
    height: 35px;
    padding: 3px 65px 3px 3px;
}
